section#home{
    height: calc(100vh + 5rem);
}

#home .container{
    background-image: url('../assets/banner1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
}

#home .container .text-box{
    width: 50%;
    padding: 5rem;
}

#home .container .text-box p:nth-child(1){
    font-size: 2.5rem;
    font-weight: 600;
}

#home .container .text-box p:nth-child(2){
    font-size: 7rem;
    font-weight: 600;
    color: rgb(30, 210, 63);
}

