.header{
    position: fixed;
    z-index: 10;
    height: 5rem;
    width: 100%;
    background-color: var(--transparent-white-bg);
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
}

.logo_section{
    width: 15%;
    height: 7rem;
    background-image: url('../assets/lo_be.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.logo_section .logo{
    height: 100%;
}

.logo img{
    position: relative;
    top: -1rem;
    left: 0.5rem;
}

nav{
    width: 85%;
    display: flex;
}

nav button{
    display: none;
    height: 3rem;
    width: 3rem;
}

nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

ul li{
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li a{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--muted-text-color);
    transition: 0.1s linear all;
}

ul li.active{
    transition: 0.1s linear all;
    border-bottom: 0.3rem solid var(--green);
}

ul li.active a{
    font-size: 1.8rem;
    color: var(--green);
}