section#products{
    background-color: #f4f4f4;
}
section#products .container{
    display: flex;
    flex-direction: column;
}

section#products .container .title{
    height: 35%;
    padding: 3rem;
    width: 50%;
    position: relative;
}

section#products .container .product-card-list{
    width: 100%;
    height: 65%;
    padding: 5rem;
    padding-top: 0rem;
    display: flex;
    gap: 3rem;
}

.product-card-list .product-card{
    height: 100%;
    width: calc(100% / 4);
    transition: ease-in all 0.3s;
}

.product-card-list .product-card:hover{
    box-shadow: 0px 0px 9px var(--green-shadow);
    margin-top: -1rem;
}

.product-card-list .product-card:hover .details{
    background-color: #fff;
}

.product-card .image{
    height: 55%;
    width: 100%;
    background-color: #fff;
}

.image img{
    height: 100%;
    width: 100%;
}

.product-card .details{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.7rem;
    background-color: transparent;
    transition: ease-in all 0.3s;
}

.details .prod-name{
    height: 20%;
    font-size: 1.8rem;
    line-height: 1rem;
    color: #000;
    font-weight: 550;
    padding-top: 1rem;
}
.details .subtitle{
    height: 15%;
    font-size: 1.3rem;
    line-height: 0.5rem;
    padding-top: 1rem;
    color: #000;
    font-weight: 550;
    color: var(--green);
}

.details .description{
    height: 70%;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
    color: #000000;
}